<html>
    <head>
        <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/css/avatar.css">
       
    </head>
    <body>
       <div>
        <button id="start" type="button" data-toggle="modal" data-target="#avatar">DARE TO CHALLENGE ME..!!! <br> CLICK HERE TO START THE GAME <br></button>
        <div id="avatar" class="modal fade" role="dialog">
            <div class="modal-dialog ">
          
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title" style="text-align: center;">Choose Your Avatar</h4>
                </div>
         
                <div class="modal-body">
                  
                  <div class="wrapper">
                    <div class="img-area">
                      <a href="/game:snake" > <div class="single-img"><button ><img src="/images/snake.jpg" alt="snake image"></button><p>Snake</p></div></a>
                      <a href="/game:dog"> <div class="single-img"><button><img src="/images/dog.jpg" alt="dog image"></button><p>Dog</p></div></a>
                       <a href="/game:tiger"><div class="single-img"><button><img src="/images/tiger.png" alt="tiger image"></button><p>Tiger</p></div></a>
                       <a href="/game:lion"><div class="single-img"><button><img src="/images/lion.jpg" alt="lion image"></button><p>Lion</p></div></a>
                       <a href="/game:wolf"><div class="single-img"><button><img src="/images/wolf.png" alt="wolf image"></button><p>Wolf</p></div></a>
                       <a href="/game:elephant"><div class="single-img"><button><img src="/images/elephant.jpg" alt="elephant image"></button><p>Elephant</p></div></a>
                       <a href="/game:giraffe"><div class="single-img"><button><img src="/images/giraffe.jpg" alt="giraffe image"></button><p>Giraffe</p></div></a>
                    </div>
                  </div>
                </div>


                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
          
            </div>
          </div>
    </div>
    </body>
</html>