<html>
    <head>
        <title>Math-Addition</title>
     <link rel="stylesheet" href="/css/home.css">
     
     <body>
       <audio src="/music/dog.mp3" autoplay ></audio>
      <div id="container">
          <div id="top-container">
            <img id="owlImg"  src="/images/owlimg.gif" alt="">
          </div>
          <div id="down-container">
              <div id="level-container">
                <a href="/addition:beginner"><p>BEGINNER</p></a>
                <a href="/addition:intermediate"><p>INTERMEDIATE</p></a>
                <a href="/addition:expert"><p>EXPERT</p></a>
              </div>
          </div>
      </div>
    </body>
</html>